eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

spring:
  datasource:
    username: admin
    password: admin123

  # Spring Cloud AWS Configuration
  cloud:
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
      secretsmanager:
        enabled: true
        endpoint: http://localhost:4566 # LocalStack endpoint

logging:
  level:
    root: INFO

management:
  tracing:
    sampling:
      probability: 1.0 # 1.0 = 100% de las peticiones (para desarrollo)
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
